@charset "utf-8";

:root {
    --blue: #05a0f3;
    --green: #84bd3a;
}

a {
    color: #000;
    text-decoration: none;
}

.inner_container {
    width: 1400px;
    margin: 0 auto;
}

/* 헤더 */
header .logo {
    margin: 30px 0;
    display: inline-block;
}

header ul li {
    display: inline-block;
    margin-left: 24px;
}

header ul li a {
    /* color: #05a0f3; */
    color: var(--blue);
}

header .header_menu {
    float: right;
    margin-top: 30px;
}

header .header_menu .top_menu {
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
}

header .header_menu .top_menu li:hover a {
    color: var(--green);
    border-bottom: 1px solid var(--green);
    padding-bottom: 3px;
}

header .header_menu .bottom_menu {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

header .header_menu .bottom_menu li:hover a {
    color: var(--green);
}

/* 메인 */
#main {
    height: 960px;
    background-color: var(--blue);
    position: relative;
}

#main .leaf_top {
    position: absolute;
    top: -36px;
}

#main .leaf_bottom {
    position: absolute;
    bottom: -140px;
    right: 0;
}

#main .main_text {
    float: right;
    margin-top: 80px;
}

#main .main_text p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: -1px;
}

#main ul {
    padding-top: 450px;
}

#main ul li {
    display: inline-block;
    width: 460px;
    text-align: center;
    color: white;
}

#main ul li span {
    font-size: 80px;
    font-weight: bold;
}

#main ul li p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
}

/* 샵 */
#shop {
    height: 960px;
}

#shop .inner_container {
    overflow: hidden;
}

#shop h1 {
    color: var(--blue);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 110px;
}

#shop p {
    color: var(--blue);
    font-size: 20px;
    line-height: 27px;
    margin: 36px 0 90px;
}

/* #shop .slider {
    width: 1510px;
    height: 470px;
    overflow: hidden;
}

#shop .slider li {
    width: 470px;
    float: left;
    margin-right: 50px;
}

#shop .slider li:last-child {
    margin: 0;
} */

#shop .slider li img {
    transition: all .5s;
}

#shop .slider li:hover img {
    border-radius: 20px;
}

/* SHOP 추가 */
#shop .slider>li {
    position: relative;
    cursor: pointer;
}

#shop .slider li .shop_hover {
    position: absolute;
    bottom: 0;
    width: 470px;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

#shop .slider li:hover .shop_hover {
    display: inline-block;
    height: 235px;
}

#shop .slider li .shop_hover h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
}

#shop .slider li .shop_hover .price {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 20px;
    margin-left: 50px;
    display: inline-block;
}

#shop .slider li .shop_hover .cart_button {
    float: right;
    margin-right: 50px;
}

#shop .slider li .shop_hover .cart_button li {
    position: relative;
    width: 80px;
}

#shop .slider li .shop_hover .cart_button li img:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
}

#shop .slider li .shop_hover .cart_button li img:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#shop .slider li .shop_hover .cart_button li:hover img:first-of-type {
    position: absolute;
    opacity: 0;
}

#shop .slider li .shop_hover .cart_button li:hover img:last-of-type {
    position: absolute;
    opacity: 1;
}

#shop .slider li .shop_hover .cart_button span {
    color: #a4b3bb;
    font-size: 18px;
    line-height: 40px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    position: absolute;
    left: 40px;
}

#shop .slider li .shop_hover .cart_button li:hover span {
    color: #e95437;
}
#shop .slider li .shop_hover ul {
    margin-left: 50px;
}
#shop .slider li .shop_hover ul li {
    display: inline-block;
}
#shop .slider li .shop_hover .prod_info li {
    color: #fff;
    font-size: 18px;
    letter-spacing: -1px;
    padding: 8px 10px;
    margin-right: 5px;
}
#shop .slider li .shop_hover .prod_info li:nth-of-type(1) {
    background-color: var(--blue);
}
#shop .slider li .shop_hover .prod_info li:nth-of-type(2) {
    background-color: var(--green);
}
#shop .slider li .shop_hover .prod_info li:nth-of-type(3) {
    background-color: #e8b837;
}
#shop .slider li .shop_hover .prod_info li:nth-of-type(4) {
    background-color: #595959;
}
#shop .slider li .shop_hover .prod_size {
    margin-top: 15px;
}
#shop .slider li .shop_hover .prod_size li {
    color: var(--blue);
    font-size: 18px;
    border: 1px solid #05a0f3;
    padding: 8px 14px;
    margin-right: 5px;
}

/* 뉴스레터 */
#newsletter {
    height: 500px;
    background-image: url(../images/news_background.jpg);
}

#newsletter h1 {
    color: #fff;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 60px;
}

#newsletter p {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    line-height: 55px;
    letter-spacing: -1px;
    margin-right: 90px;
}

#newsletter h1 {
    background: linear-gradient(90deg, #fff, #fff, #05a0f3);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -2000px
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-size: 100%;
    }
}

#newsletter a {
    color: white;
    position: relative;
    transition: all .5s;
}

#newsletter a img {
    position: absolute;
    left: -70px;
    top: 10px;
    transition: .5s;
}

#newsletter a img:last-of-type {
    opacity: 0;
}

#newsletter a:hover {
    color: #e95437;
}

#newsletter a:hover img:last-of-type {
    opacity: 1;
}

#newsletter a:hover img:first-of-type {
    opacity: 0;
}

#newsletter p:last-child {
    margin-top: 30px;
}

/* 인증서 */
#certification {
    height: 700px;
}

#certification article {
    width: 700px;
    float: left;
    text-align: center;
    padding-top: 120px;
}

#certification article h2 {
    color: #a4b3bb;
    font-size: 25px;
    font-weight: bold;
    margin: 70px 0 40px;
}

#certification article p {
    color: #a4b3bb;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

/* 파트너 */
#partner {
    min-width: 1900px;
    overflow: hidden;
}

#partner .b_green {
    width: 950px;
    height: 1080px;
    background-image: url(../images/partner_1.jpg);
    background-repeat: no-repeat;
    float: left;
}

#partner .classroom {
    width: 950px;
    height: 540px;
    background-image: url(../images/partner_2.jpg);
    background-repeat: no-repeat;
    float: left;
}

#partner .coffee {
    width: 950px;
    height: 540px;
    background-image: url(../images/partner_3.jpg);
    background-repeat: no-repeat;
    float: left;
}

#partner .partner_hover h1 {
    color: white;
    font-size: 150px;
    font-weight: bold;
    margin-left: 20px;
}

#partner .partner_hover h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-left: 20px;
}

#partner .partner_hover .white_back {
    height: 50px;
    background-color: white;
    margin-top: 70px;
    width: 1px;
    transition-duration: .7s;
}

#partner .partner_hover p {
    font-size: 28px;
    text-align: center;
    line-height: 50px;
    transition-duration: 1s;
    transition-delay: 0.7s;
    opacity: 0;
}

#partner .b_green .partner_hover p {
    color: #83bc92;
}

#partner .classroom .partner_hover p {
    color: #e8b837;
}

#partner .coffee .partner_hover p {
    color: #059ff2;
}

#partner .b_green .partner_hover {
    background-color: rgba(132, 189, 58, 0.8);
    height: 1080px;
}

#partner .classroom .partner_hover {
    background-color: rgba(233, 185, 55, 0.8);
    height: 540px;
}

#partner .coffee .partner_hover {
    background-color: rgba(5, 160, 243, 0.8);
    height: 540px;
}

#partner .partner_hover {
    transition: .3s;
    opacity: 0;
}

#partner article:hover .partner_hover {
    opacity: 1;
}

#partner article:hover p {
    opacity: 1;
}

#partner article:hover .white_back {
    width: 100%;
}

#partner article {
    cursor: pointer;
}

/* 푸터 */
footer {
    height: 400px;
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul:first-of-type li {
    margin: 116px 10px 0;
    position: relative;
    width: 30px;
    height: 30px;
}

footer ul:first-of-type li img {
    position: absolute;
}

footer ul:first-of-type li img:last-of-type {
    display: none;
}

footer ul:first-of-type li:hover img:last-of-type {
    display: inline;
}

footer ul:last-of-type {
    color: #7f7f7f;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 50px;
}

footer ul:last-of-type a {
    color: #7f7f7f
}

footer ul:last-of-type li:hover a {
    color: var(--blue);
}

footer p {
    font-size: 14px;
    line-height: 20px;
}

footer p a {
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
}