@charset "UTF-8";
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
/* common */
body {font-family: 'SCoreDream';}
a {text-decoration: none;}
/* header */
header {margin: 0 auto; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 75px;}
header .logo {width: 15%; height: 75px; width: 5%; margin-left: 20px;z-index: 999; line-height: 75px;}
header .logo img {height: 100%; height: 30px; vertical-align: middle;}
header .nav_container {width: 75%; margin: 0 auto;}
header .menu_cart {width: 10%; display: flex; align-items: center; justify-content: space-evenly; color: #000000; z-index: 999;}
header .menu_cart a {color: #000000;}
header .menu_cart li {display: inline-block; font-size: 25px;}
/* nav */
nav {position: relative; max-width: 1920px; text-align: center; background-color: #ffffff; height: 75px; z-index: 100;}
nav::after {content: ""; position: absolute; left: 0; bottom: 0; z-index: 100; width: 100%; height: 1px; background-color: #ffffff;}
nav > ul > li {display: inline-block;}
nav > ul > li > a {display: block; padding: 0 40px; line-height: 75px; font-size: 1.25em; font-weight: 600; color: #000000;}
nav .sub {position: absolute; left: 0; width: 100%; overflow: hidden; background-color: #ffffff; transition: all 0.1s;}
nav .sub .sub_contents {margin: 0 auto; width: 100%; text-align: left; display: flex;}
nav .sub .sub_contents ul {display: inline-block; width: 16%; vertical-align: top;}
nav .sub .sub_contents li a {display: block; line-height: 2em; font-size: 1em; background-color: #ffffff; color: #000000; box-sizing: border-box;}
nav > ul > li:hover > a + .sub, nav > ul > li .sub.active {background-color: transparent;}
nav .sub .sub_contents li:first-child a {border-top: none;}

.sub_depth li {margin-left: 15px;}
.img_container li {margin-left: 0px}
.sub_depth:nth-of-type(1) {border-left: 1px solid #f5f5f5;}
.sub_depth li a span {font-size: 1.125em; font-weight: bold;}
.sub_depth li a {font-size: 1em; font-weight: 400; line-height: 2;}
.icons li a .fa-solid {font-size: 23px; line-height: 25px; width: 25px; text-align: center;  line-height: 2em; font-size: 1em;}
.icons a strong {font-family: 'S-CoreDream-3Light'; font-weight: 100; display: inline-block; margin-left: 15px;  line-height: 2em; font-size: 1em; }

.main_hover1 {z-index: 100; width: 100%; height: 320px; position: absolute; left: 50%; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-around;}
.main_hover1 .sub_depth {flex-basis: 20%; border-right: 1px solid #f5f5f5; height: 320px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box;}
.main_hover1 .sub_depth:nth-of-type(4) {flex-basis: 40%;  margin-bottom: 0; text-align: center;}
.main_hover1 .sub_depth li a>img {width: 95%; height: 95%; object-fit: cover; text-align: center; background-color: #ffffff;}
.img_container li a {text-indent: 0;}

.main_hover2 {z-index: 999; ;width: 100%; height: 400px; position: absolute; left: 50%; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;  display: none;}
.main_hover2 .sub_depth {flex-basis: 16%; border-right: 1px solid #f5f5f5; height: 400px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box;}
.main_hover2 .sub_depth:nth-of-type(4) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover2 .sub_depth:nth-of-type(5) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover2 .sub_depth li a>img {width: 95%; height: 95%;}

.main_hover3 {z-index: 999; ;width: 100%; height: 400px; position: absolute; left: 50%; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;  display: none;}
.main_hover3 .sub_depth {flex-basis: 16%; border-right: 1px solid #f5f5f5; height: 400px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box; }
.main_hover3 .sub_depth:nth-of-type(4) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover3 .sub_depth:nth-of-type(3) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover3 .sub_depth li a>img {width: 95%; height: 95%;}

.main_hover4 {z-index: 999; ;width: 100%; height: 400px; position: absolute; left: 50%; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;  display: none;}
.main_hover4 .sub_depth {flex-basis: 16%; border-right: 1px solid #f5f5f5; height: 400px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box;}
.main_hover4 .sub_depth:nth-of-type(3) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover4 .sub_depth:nth-of-type(4) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover4 .sub_depth li a>img {width: 95%; height: 95%;}

.main_hover5 {z-index: 999; width: 100%; height: 345px; position: absolute; left: 50%; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;  display: none;}
.main_hover5 .sub_depth {flex-basis: 16%; border-right: 1px solid #f5f5f5; height: 345px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box;}
.main_hover5 .sub_depth:nth-of-type(3) {flex-basis: 60%; margin-bottom: 0; text-align: center;}
.main_hover5 .sub_depth li a>img {width: 95%; height: 95%;}
/* blackbar */
.black_navbar {color: #ffffff; background-color: #000000; height: 40px; line-height: 40px; z-index: -1;}
.black_navbar p {text-align: center; font-size: 0.875em;}
/* animation: move 20s linear infinite; display: inline-block; z-index: -1; */

/* .inner {max-width: 1600px; margin: 0 auto;} */
/* contents */
.contents_long {display: flex; justify-content: space-between; width: 100%; align-items: center; overflow: hidden;}
.contents_long div {width: 50%; height: 50%;}
.contents_long div h2 {position: absolute; color: #000000; transition: all 0.5s;}
.contents_long div:nth-of-type(2) h2 {color: #ffffff;}
.contents_long div h2 {transform: translate(10px, -30px);}
.contents_long div:nth-of-type(1) p {position: absolute; right: 50.5%; ;transform: translate(-50% ,-30px); color: #000000; z-index: 9999;}
.contents_long div:nth-of-type(2) p {position: absolute; right: 0.5%; ;transform: translate(-50% ,-30px); color: #ffffff; z-index: 9999;}
.contents_long div img {width: 100%; vertical-align: middle;}
.contents_long div:hover {cursor: pointer;}

.contents_row {display: flex; justify-content: space-between; width: 100%; align-items: center; overflow: hidden;}
.contents_row div {width: 25%; height: 25%;}
.contents_row div h2, .contents_row div h3 {position: absolute; color: #000000; transition: all 0.5s;}
.contents_row div h2 {opacity: 1;}
.contents_row div h3 {opacity: 0;}
.contents_row div h2, .contents_row div h3 {transform: translate(10px, -30px);}
.contents_row div a {width: 20%;}
.contents_row div p {text-align: end; transform: translate(-10px, -30px); color: #000000;}
.contents_row div:nth-of-type(1) p {position: absolute; right: 77.5%; transform: translate(50% ,-30px);}
.contents_row div:nth-of-type(2) p {position: absolute; right: 52.5%; transform: translate(50% ,-30px);}
.contents_row div:nth-of-type(3) p {position: absolute; right: 27.5%; transform: translate(50% ,-30px);}
.contents_row div:nth-of-type(4) p {position: absolute; right: 2.5%; transform: translate(50% ,-30px);}
.contents_row div img {width: 100%; vertical-align: middle;}
.contents_row div:hover h2 {opacity: 0;}
.contents_row div:hover h3 {opacity: 1;}

.handcare .contents_long div a h2 {color: #000000;}
.handcare .contents_long div p {color: #000000;}

.contents_longest {display: flex; justify-content: space-between; width: 100%; align-items: center; overflow: hidden;}
.contents_longest div {width: 100%; height: 50%;}
.contents_longest div h2 {position: absolute;transform: translate(10px, -30px); color: #000000;}
.contents_longest div img {width: 100%; vertical-align: middle;}
.contents_longest div p {position: absolute; right: 2%; transform: translate(50%, -30px); color: #000000;}
.contents_longest div:hover {cursor: pointer;}

.cs {height: 500px; background-color: #F5F5F5; display: flex; flex-direction: row; justify-content: space-around;}
.cs ul {width: 20%; padding-top: 30px;}
.cs ul li a {color: #000000;}
.cs ul li {line-height: 1.5; font-size: 0.825em; line-height: 2;}
.cs ul li strong {font-size: 1.125em;}
.depth1 {height: 100%;}
.depth1 li:nth-of-type(2) {margin-top: 5px;}
.depth1 li .fa-solid {margin-right: 10px;}
.depth1 li:nth-of-type(3) {margin-top: 10px;}
.depth2 li:nth-of-type(1) {margin-bottom: 10px;}
.depth3 li:nth-of-type(1) {list-style: none; margin-bottom: 10px;}
.depth4 li {line-height: 1;}
.depth4 li:nth-of-type(1) {margin-bottom: 5px;}
.depth4 li:nth-of-type(3) {margin: 15px 0 10px;}
.depth4 li:nth-of-type(4) {line-height: 1.25; margin-bottom: 10px; font-size: 0.7em;}
.depth4 li:nth-of-type(6) {font-size: 0.7em;}
.depth4 li:nth-of-type(7) {font-size: 0.625em; line-height: 1.25;}
.depth4 li em {text-decoration: underline;}
	/* input */
select {width: 200px; padding: 0.8em 0.5em; border: 1px solid #cccccc; background: url('../images/arrow.png') no-repeat 95% 50%; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: #ffffff;}
select::-ms-expand {display: none;}
.email_box {height: 35px; width: 300px;}
.ok_box {background-color: #000000; color: #ffffff; padding: 10px;}

/* footer */
footer {display: flex; justify-content: space-between; height: 50px; align-items: center;}
footer address {margin-left: 15px; font-size: 0.875em;}
.sns_wrap {display: flex; width: 5%; flex-direction: row; justify-content: space-evenly;}
.fa-brands {color: #000000;}