<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연습</title>
    <Style>
        * {
            margin: 0;
            padding: 0;
        }

    </Style>
</head>

<body>
    <header id="main_header">
        <h1>Web Design</h1>
        <h2>HTML5 + CSS3 Basic</h2>
    </header>
    <nav id="main_gnb">
        <ul>
            <li><a href="">Web</a></li>
            <li><a href="">Mobile</a></li>
            <li><a href="">Game</a></li>
            <li><a href="">Simulation</a></li>
            <li><a href="">Data</a></li>
        </ul>
    </nav>
    <nav id="main_lnb">
        <ul>
            <li><a href="">HTML5</a></li>
            <li><a href="">HTML5</a></li>
        </ul>
    </nav>
    <div id="content">
        <section id="main_section">
            <article class="main_article">
                <h1>Main Article</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestiae libero ab id similique
                    cupiditate sunt magni at, quidem, ex odit et laboriosam fugiat modi impedit nesciunt eos, facilis
                    voluptate.</p>
            </article>
        </section>
    </div>
    <ul>
        <li>Web</li>
        <li>Mobile</li>
        <li>Game</li>
        <li>Section</li>
        <li>Data</li>
    </ul>
</body>

</html>