@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 공통 */
* {
    box-sizing: border-box;
}
a, a:visited {
    color: #333333;
    text-decoration: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
.inner {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

/* 헤더 */
header .cons {
    height: 298px;
    background-color: #293896;
}
header .cons .title {
    float: left;
    font-size: 53px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    padding-top: 56px;
    /* 자간을 조정해주는 것 */
    letter-spacing: -3px;
}
header .cons .title p {
    height: 63px;
    font-size: 72px;
    margin-top: 15px;
}
header .cons_form {
    width: 710px;
    float: right;
    margin-top: 75px;
}
.cons_form form>div {
    width: 490px;
    float: left;
    
}
.cons_form form>div input {
    float: left;
    height: 60px;
    padding-left: 15px;
    margin: 0 21px 25px 0;
    border: 1px solid #333333;
    font-size: 24px;
    color: #666666;
}
.cons_form form>div input:nth-of-type(1) {
    width: 155px;
}
.cons_form form>div input:nth-of-type(2) {
    width: 284px;
}

.cons_form form>div input:nth-of-type(3) {
    width: 460px;
}

.cons_form form > input {
    float: right;
    width: 218px;
    height: 144px;
    margin: 0;
    font-size: 36px;
    color: #293896;
    font-weight: bold;
    background-color: #ffffff;
}
/* GNB */
header .gnb_logo {
    float: left;
}
header ul.main_gnb {
    float: right;
    line-height: 118px;
    font-size: 24px;
    font-weight: 700;
}

header ul.main_gnb li {
    display: inline-block;
    /* 오른쪽으로 정렬이 되어야하기 때문에, margin-left를 준다. */
    margin-left: 20px;
}

/* 비주얼영역 */
.visual_area {
    position: relative;
    /* min-width는 요소의 최소너비를 의미함 */
    min-width: 1400px;
    height: 850px;
    /* 여러가지 속성을 한번에 쓸 때는, 대표속성이 오면 된다. */
    background: url(../images/img_mainbg.png) left center no-repeat #c7dbfc;
    margin-bottom: 97px;
}
.visual_area .title_wrap {
    position: absolute;
    top: 94px;
    /* calc을 쓸 때는 반드시 띄워쓰기를 해야함 */
    left: calc(50% + 14px);
    font-weight: 600;
    letter-spacing: -2px;
}
.visual_area .title_wrap p {
    margin: 40px 0;
    font-size: 58px;
    color: #143395;
    line-height: 1.2;
}
.visual_area .title_wrap p span {
    color: #ff0000;
}
.visual_area .title_wrap ul {
    font-size: 30px;
    color: #222222;
    line-height: 57px;
}
.visual_area .title_wrap ul li {
    margin-bottom: 30px;
}
.visual_area .title_wrap ul li img {
    margin-right: 15px;
    /* 수직 정렬을 해야지 이미지들이 제대로 정렬이 되기 때문에, vertical-align을 사용한다. 텍스트는 바로 잡히지만, 나머지 인라인들은 vertical-align으로 잡아줘야함*/
    vertical-align: middle;
}
.visual_area .title_wrap ul li span {
    color: #143395;
}
.visual_area .title_wrap ul span em{
    color: #ff0000;
}
