/* Transition
---------------------------*/
/*천천히 색이 바뀌는 버튼 1（동시）*/
p.btn01 a{
	background-color:#9c9;
	color:#fff;
	-webkit-transition:1s;
	transition:1s;
}

p.btn01 a:hover{
	background-color:#fc6;
	color:#000;
}

/*천천히 색이 바뀌는 버튼 2（배경색만）*/
p.btn02 a{
	background-color:#9c9;
	color:#fff;
	-webkit-transition:background-color 1s;
	transition:background-color 1s;
}

p.btn02 a:hover{
	background-color:#fc6;
	color:#000;
}

/*천천히 색이 바뀌는 버튼 3（시간차）*/
p.btn03 a{
	background-color:#9c9;
	color:#fff;
	-webkit-transition:background-color 1s 0s, color 1s 1s;
	transition:background-color 1s 0s, color 1s 1s;
	/*
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 1s, 1s;
	-webkit-transition-delay: 0s, 1s;
	
	transition-property: background-color, color;
	transition-duration: 1s, 1s;
	transition-delay: 0s, 1s;
	*/
}

p.btn03 a:hover{
	background-color:#fc6;
	color:#000;
}

/*transition-timing-function*/

.timing li{
	position:relative;
	left:0;
}

.timing:hover li{
	left:500px;
}

.t01{
	-webkit-transition:left 1s ease;
	transition:left 1s ease;
}

.t02{
	-webkit-transition:left 1s linear;
	transition:left 1s linear;
}

.t03{
	-webkit-transition:left 1s ease-in;
	transition:left 1s ease-in;
}

.t04{
	-webkit-transition:left 1s ease-out;
	-ms-transition:left 1s ease-out;
	transition:left 1s ease-out;
}

.t05{
	-webkit-transition:left 1s ease-in-out;
	transition:left 1s ease-in-out;
}

