@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
/* font-family: 'Limelight', cursive; */
@font-face {
    font-family: 'Donoun-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

span {
    font-family: 'Donoun-Medium';
}
a, a:visited {
    font-family: 'Donoun-Medium';
    text-decoration: none;
    color: #000000;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.menu_container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
nav{
border-bottom: 1px solid #000000;
}
/* header  */
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #ffffff;
    z-index: 100;
    overflow: hidden;
}
header .logo {
    position: relative;
    float: left;
}
header .logo img {
    position: absolute;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    line-height: 100px;
}
header nav ul li {
    font-size: 25px;
    margin: 0 25px;
}
header nav ul li:hover a {
    color: #000000;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.sessions {
    width: 95%;
    height: 95%;
    margin: 2.5%;
    color: #ffffff;
    align-items: flex-start;
    justify-content: space-around;
    line-height: 1.5;
}

.sessions span {
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
    display: block;
    text-align: center;
    z-index: 100;
    letter-spacing: 1px;
    width: 50%;
}

.sessions ul {
    left: 50%;
    transform: translateX(25%);
    width: 50%;
    font-size: 30px;
    margin-top: 250px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sessions ul li {
    width: 100%;
    line-height: 1.25;
    font-size: 0.75em;
    z-index: 100;
    text-align: left;
}

.sessions p {
    width: 50%;
    /* left: 50%; */
    font-family: 'Donoun-Medium';
    font-style: italic;
    font-size: 0.75em;
    font-weight: bold;
    display: block;
    margin: 0 0 25px 0;
    text-align: center;
    z-index: 100;
    letter-spacing: 1px;
    padding-bottom: 25px;
    border-bottom: 1px solid #000000;
}

.sessions ul li.holiday {
    font-family: 'Donoun-Medium';
    font-style: italic;
    font-size: 0.75em;
    z-index: 100;
    color: #ff0000;
}
.sessions ul li a {
    font-style: italic;
    font-size: 0.75em;
    z-index: 100;
}
.sessions ul li a:hover {
    text-decoration: underline;
}
.sessions ul li a:active {
    text-decoration: underline;
}

footer {
    height: 500px;
}
footer div {
    text-align: center;
    line-height: 300px;
    height: 300px;
    font-size: 1.5em;
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-style: italic;
}
footer h3 {
    color: #ffffff;
    font-weight: bold;
}

/* span + p font color */
.bg1 .sessions span, .bg1 .sessions p, .bg5 .sessions span, .bg5 .sessions p {color: #00529F;}
.bg2 .sessions span, .bg2 .sessions p, .bg6 .sessions span, .bg6 .sessions span {color: #ffffff;}
.bg3 .sessions span, .bg3 .sessions p {color: #EE324E;}
.bg4 .sessions span, .bg4 .sessions p {color: #FEBE10;}

.bg1 .sessions ul li a, .bg5 .sessions ul li a {color: #EE324E;}
.bg2 .sessions ul li a, .bg6 .sessions ul li a {color: #FEBE10;}
.bg3 .sessions ul li a {color: #00529F;}
.bg4 .sessions ul li a {color: #ffffff;}

/* controls */
.fp-controlArrow.fp-prev {
    position: absolute;
    left: 5%;
    border: none;
    width: 50px;
    height: 101px;
    background: url(../images/prev.png) no-repeat;
    cursor: pointer;
    top: 50%;
}
.fp-controlArrow.fp-next {
    position: absolute;
    right: 5%;
    border: none;
    width: 50px;
    height: 101px;
    background: url(../images/next.png) no-repeat;
    cursor: pointer;
    top: 50%;
}

/* responsive */
@media (max-width: 1240px) {
    .sessions ul p {font-size: 1em;}
    .sessions ul li {font-size: 0.75em;}
    .sessions ul li span + p {font-size: 0.75em;}
    .slide ul {width: 100%; top: 50%; text-align: center; margin-top: 200px;}
    .sessions ul li {font-size: 0.75em;}
}

@media (max-width: 960px) {
    .nav {width: 100%;}
    header .logo img {position: relative;}
    header .logo {display: block; position: relative; left: 50%; transform: translateX(-50%);}
    header nav ul {justify-content: space-around; height: 50px; line-height: 50px; border-top: 1px solid #000000;}
    header nav ul li {margin: 0 20px;}
    .menu_container ul {width: 100%; position: relative;}
    /* .menu_container ul li {font-size: 0.75em;;} */
    .sessions ul li {font-size: 0.75em; width: 100%; display: block; margin: 0 20px;}
    .slide ul {margin-top: 500px; width: 100%; top: 50%; text-align: center;}
    .slide ul li {line-height: 0.9;}
    .sessions ul span {font-size: 0.75em;}
    .sessions ul p {font-size: 0.75em;}
} 

@media (max-width: 540px) {
    header {border-bottom: 1px solid #000000;}
    .logo {display: block; position: relative; left: 50%; transform: translateX(-50%);}
    .sessions {width: 100%;}
    header nav ul {display: none;}
    .slide ul {width: 100%; margin-top: 400px; text-align: center;}
    .sessions ul li {font-size: 0.75em; width: 100%; line-height: 1;}
    .fp-controlArrow.fp-next {right: 7.5%;}
    .fp-controlArrow.fp-prev {left: 7.5%;}
} 

