@charset "utf-8";
@font-face {font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }

/* responsive web width size
    PC , 테블릿 가로 (해상도 768px ~ 1023px)

@media (min-width:1023px) {
    body {background-color: green}
}

테블릿 세로 (해상도 768px ~ 1023px)
@media (min-width:768px) and (max-width:1023px) {
    body {background-color: yellow;}

}

모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)
@media (min-width:480px) and (max-width:767px) {
    body {background-color: red;}
}

모바일 가로, 테블릿 세로 (해상도 ~ 479px)
@media (max-width:479px) {
    body {background-color: violet;}
} */



/* common */
body {font-family: 'S-CoreDream-3Light';}
.main_inner {min-width: 1300px; margin: 0 auto;}
.inner {min-width: 1920px; max-width: 1080px; margin: 0 auto;}
.container {width: 100%; margin: 0 auto;}
a {text-decoration: none; color: #000000; font-family: 'S-CoreDream-3Light';}

/* header */
header {margin: 0 auto; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 75px;}
header .logo {width: 15%; height: 30px; width: 5%; margin-left: 20px;}
header .logo img {height: 100%; vertical-align: middle;}
header .main_depth {width: 50%; display: flex; align-items: center; justify-content: space-evenly;}
header .main_depth li {display: inline-block; font-weight: 900; font-size: 1.125em;}
header .menu_cart {width: 10%; display: flex; align-items: center; justify-content: space-evenly;}
header .menu_cart li {display: inline-block; font-size: 25px;}
header .main_depth li:hover a  {font-weight: bold;}
.main_depth li.active {background-color: ;}


.sub_depth li {margin-left: 15px;}
.img_container li {margin-left: 0px}
.sub_depth:nth-of-type(1) {border-left: 1px solid #f5f5f5;}
.sub_depth li a span {font-size: 1.125em; font-weight: bold;}
.sub_depth li a {font-size: 1em; font-weight: 400; line-height: 2;}
.icons li a .fa-solid {font-size: 23px; line-height: 25px; width: 25px; text-align: center;}
.icons a strong {font-family: 'S-CoreDream-3Light'; font-weight: 100;  display: inline-block; margin-left: 15px;}


.main_hover1 {z-index: 9999; ;width: 100%; height: 370px; position: absolute; left: 50%; top: 75px; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;}
.main_hover1 .sub_depth {flex-basis: 20%; border-right: 1px solid #f5f5f5; height: 370px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box; }
.main_hover1 .sub_depth:nth-of-type(4) {flex-basis: 40%;  margin-bottom: 0; text-align: center;}
.main_hover1 .sub_depth li a>img {width: 600px; height: 350px;}

.main_hover2 {z-index: 999; ;width: 100%; height: 470px; position: absolute; left: 50%; top: 75px; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;}
.main_hover2 .sub_depth {flex-basis: 16%; border-right: 1px solid #f5f5f5; height: 470px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box; }
.main_hover2 .sub_depth:nth-of-type(4) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover2 .sub_depth:nth-of-type(5) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover2 .sub_depth li a>img {width: 350px; height: 450px;}

.main_hover3 {z-index: 999; ;width: 100%; height: 470px; position: absolute; left: 50%; top: 75px; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;}
.main_hover3 .sub_depth {flex-basis: 16%; border-right: 1px solid #f5f5f5; height: 475px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box; }
.main_hover3 .sub_depth:nth-of-type(4) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover3 .sub_depth:nth-of-type(3) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover3 .sub_depth li a>img {width: 350px; height: 450px;}

.main_hover4 {z-index: 999; ;width: 100%; height: 470px; position: absolute; left: 50%; top: 75px; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;}
.main_hover4 .sub_depth {flex-basis: 16%; border-right: 1px solid #f5f5f5; height: 470px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box;}
.main_hover4 .sub_depth:nth-of-type(3) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover4 .sub_depth:nth-of-type(4) {flex-basis: 20%; margin-bottom: 0; text-align: center;}
.main_hover4 .sub_depth li a>img {width: 350px; height: 450px;}

.main_hover5 {z-index: 999; width: 100%; height: 420px; position: absolute; left: 50%; top: 75px; transform: translate(-50%); background-color: #ffffff; display: flex; justify-content: space-between;}
.main_hover5 .sub_depth {flex-basis: 16%; border-right: 1px solid #f5f5f5; height: 420px; border-bottom: 1px solid #f5f5f5; padding-top:10px; border-top: 1px solid #f5f5f5; box-sizing: border-box;}
.main_hover5 .sub_depth:nth-of-type(3) {flex-basis: 60%; margin-bottom: 0; text-align: center;}
.main_hover5 .sub_depth li a>img {width: 1050px; height: 400px;}


/* movingbar */
.black_navbar {color: #ffffff; font-weight: bold; background-color: #000000; height: 50px; line-height: 50px;}
/* .black_navbar p {display:block; animation: move 3s infinite;;} */
.black_navbar p {text-align: end; animation: move 20s linear infinite; display: inline-block;}

@keyframes move {
    0% {transform: translateX(200%);}
    100% {transform: translateX(-100%)};
}
