@charset "utf-8";
@font-face {font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
/* common */
* {font-family: 'S-CoreDream-3Light';}
.inner {min-width: 1366px; min-height: 768px; max-width: 1920px; max-height: 1080px;}
.contianer {width: 1800px;}
a {text-decoration: none; color: #000000;}
/* header */
header {margin: 0 auto;;}
.logo {width: 100%; margin: 0 auto;  height: 75px; display: flex; justify-content: space-evenly;}
.logo img {position: absolute; width: 150px; left: 15px; top: 15px;}
.minicart {width: 125px; display: flex; justify-content: space-between; font-size: 30px; align-items: center;}
.logo .menu_depth1 {display: flex; flex-direction: row; flex-wrap: wrap; text-align: center;}
.logo .menu_depth1 li {display: inline-block; width: 300px; height: 75px;}
.logo .menu_depth1 li  li span {z-index: 999;}
.logo .menu_depth1>li:nth-of-type(1) {margin-left: 130px;}
.logo .menu_depth1 li a {font-size: 20px; line-height: 75px;}
.logo .menu_depth1 li .menu_depth2 {opacity: 0; display: flex; flex-direction: row; justify-content: space-between;}
.logo .menu_depth1 li .menu_depth2 div {width: 25%; background-color: #ffffff;}
.logo .menu_depth1 li .menu_depth2 div:nth-of-type(4) {width: 550px;}
.logo .menu_depth1 li:hover .menu_depth2 {opacity: 1; z-index: 999; background-color: #ffffff; color: #000000; display: flex; transition: all 0.5s;}
.logo .menu_depth1 li:hover .menu_depth2 div {font-size: 20px; font-weight: bold;}
.logo .menu_depth1 li:hover .menu_depth2 .depth2_image1 {width: 500px; position: relative; top: 50%; transform: translateY(-50%);}
.logo .menu_depth1 li:hover .menu_depth2 li {opacity: 1; z-index: 999;}
.logo .menu_depth1 li:hover .menu_depth2 .depth3_icons {display: flex; flex-direction: column; text-align: left;}
.logo .menu_depth1 li:hover .menu_depth2 .depth3_icons {width: 30px; height:30px;}
.logo .menu_depth1 li:hover .menu_depth2 .depth3_icons a {width: 50px; height:50px; position: relative; border-radius: 25px; margin-left: 75px;font-size: 30px; padding: 15px;}
.logo .menu_depth1 li:hover .menu_depth2 .depth3_icons a span {font-size: 20px; height: 50px; margin-left: 15px;}
.logo .menu_depth1 li:hover .menu_depth2 .depth3_icons li:nth-of-type(4) a span {font-size: 20px; height: 50px; margin-left: 30px;}
.logo .menu_depth1 li:hover .menu_depth2 .depth3_icons .france_logo {width: 35px; height:35px; position: relative; margin-left: -15px;}


/* .logo .menu_depth2 {} */
/* movingbar */
.black_navbar {width: 100%; color: #ffffff; font-weight: bold; background-color: #000000; height: 50px; line-height: 50px; text-align: center;}
.black_navbar span {text-align: center;}

