@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

a:link,
a:visited {color: black; text-decoration: none;}
h1 {color: #000000; font-size: 40px; font-weight: bold;}
h1.shadow {text-shadow: 5px 5px 0 #fabc01, -1px -1px 0 #fabc01; text-align: center; margin-bottom: 75px;}

/* headedr */
header {background: linear-gradient(to bottom, #ffffff, #ffffff 220px, #fabc01 220px, #fabc01); text-align: center; padding-top: 10px;}
header.bg {background: linear-gradient(to bottom, #ffffff, #ffffff 220px, #ffffff 220px, #ffffff); text-align: center; padding-top: 10px;}
header.bg ul li a, a:visited {display: block; height: 50px; line-height: 50px; color: #000000; border-right: 1px solid #000000; background-color: #ffffff;}
header ul {width: 1200px; margin: 10px auto 0; overflow: hidden;}
header ul li {float: left; width: 20%;}
header ul li a, a:visited {display: block; height: 50px; line-height: 50px; color: #000000; border-right: 1px solid #000000; background-color: #fabc01;}
header ul li:nth-of-type(5) a {border-right: 0;}
header ul li a:hover {color: #e5293b; font-size: 17px; font-weight: bold;}
#quick {width: 100px; height: 400px; background-color: #fabc01; position: absolute; right: 100%; top: 350px; margin-right: -100px; z-index: 99999; color: #ffffff; writing-mode: vertical-rl; font-size: 35px; font-weight: bold; opacity: 0.8;}
#quick.on {position: fixed; top: 50px;}
/* sidebar */
.open {z-index: 1; position: absolute; right: 20px; top: 20px; cursor: pointer; font-size: 30px; color: #ffffff; width: 50px; height: 50px; background-color: #fabc01; text-align: center; line-height: 50px;}
.container {position: relative; height: 100%;}
.container .sidebar {position: fixed; top: 0; right: -300px; width: 300px; height: 100%; padding-top: 150px; background-color: rgba(23, 57, 128, 0.75); z-index: 1; transition: all 0.3s;}
.sidebar h1 { color: #ffffff;}
.close {position: absolute;top: 20px;left: 20px;color: #ffffff;cursor: pointer;}

/* visual area */
.visual_area {height: 700px; text-align: center; position: relative; background-position: center; margin-bottom: 100px;}
.visual_area li {height: 700px;}
.visual_area li.slide_01 {background: url(../images/main01.jpg) center;}
.visual_area li.slide_02 {background: url(../images/main02.jpg) top;}
.visual_area li.slide_03 {background: url(../images/main03.jpg) bottom;}
.visual_area ul li h1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0 auto; color: #ffffff; text-shadow: 5px 5px 0 #fabc01, -1px -1px 0 #fabc01; font-size: 70px; font-family: 'Limelight', cursive; opacity: 0; transition: opacity 0.7s 0.5s;}
.visual_area .bx-wrapper .bx-viewport ul li[aria-hidden="false"] h1 {opacity: 1;}
.visual_area ul li p {position: absolute; top: 56%; left: 50%; transform: translateX(-50%); padding: 15px 0; opacity: 0;}
.visual_area ul li p mark {color: #000000; background-color: #fabc01; font-style: italic;}
.visual_area .bx-wrapper .bx-viewport ul li[aria-hidden="false"] p {transition: opacity 0.5s .7s;opacity: 1; animation: goup 1.5s linear;}

/* bxSlider */
.bx-controls-direction a {position: absolute; top: 50%; transform: translateY(-50%); display: block; width: 40px; height: 76px; opacity: 0.4; transition: all 0.3s; text-indent: -9999px;}
.visual_area .bx-controls-direction a:hover {opacity: 0.9;}
.visual_area .bx-controls-direction .bx-prev {background: url(../images/main_arrow_left.png); left: 50px;}
.visual_area .bx-controls-direction .bx-next {background: url(../images/main_arrow_right.png); right: 50px;}
.bx-pager {position: absolute; bottom: 50px; width: 100%; text-align: center;}
.bx-pager div {display: inline-block; margin: 0 5px;}
.bx-pager div a {display: block; width: 8px; height: 8px; background-color: #fabc01; font-size: 0; bottom: 50px;}
.bx-pager div a.active {background-color: #ffffff; width: 40px; transition: all 0.3s;}

/* intro */
.intro {width: 1200px; height: 500px; margin: 0 auto;}
.intro>div img{float: left; border-radius: 50%; margin-right: 100px;}
.intro>div ul li {font-size: 20px; margin-bottom: 20px;}
.intro>div ul li span {font-weight: bold; display: inline-block; width: 175px; line-height: 1.2;}
.intro>div p {line-height: 1.5;}

/* portfolio */
    /* ul.port_wrap>li:nth-of-type(3n - 2) {background-image: url(../images/001.jpg);}
    ul.port_wrap>li:nth-of-type(3n - 1) {background-image: url(../images/002.jpg);}
    ul.port_wrap>li:nth-of-type(3n) {margin: 0; background-image: url(../images/003.jpg);} */
.portfolio {width: 1200px; height: 800px; margin: 0 auto;}
ul.port_wrap {overflow: hidden; background-color: #fabc01;}
ul.port_wrap li {float: left; height: 560px; box-sizing: border-box; border: 0; transition: all 0.75s; cursor: pointer; overflow: hidden; background-size: auto 100%; background-position: center; /* width: 30%; margin-right: 5%; */}
ul.port_wrap .slider_01 { background-image: url(../images/001.jpg);}
ul.port_wrap .slider_02 {background-image: url(../images/002.jpg);}
ul.port_wrap .slider_03 {margin: 0;background-image: url(../images/003.jpg);}
ul.port_wrap li:hover {background-size : auto 150%}
.portfolio ul li .div_black {height: 560px; background-color: rgba(0, 0, 0, 0.5); opacity: 1; position: relative;}
.portfolio ul li .div_black strong {position: absolute; color: #ffffff; top: 400px; font-size: 50px; left: -100%; opacity: 0; transition: all 0.75s; font-weight: bold;}
.portfolio ul li:hover .div_black strong {left: 20px; opacity: 1;}
.portfolio ul li .div_black span {display: block; position: absolute; width: 1px; height: 1px; opacity: 0; top: 460px; left: 24px; transition: all 0.5s; transition-delay: 0.25s; background-color: #ffffff;}
.portfolio ul li:hover .div_black span {width: calc(100% - 48px);opacity: 1;}
.portfolio ul li p {display: block; position: absolute;color: #ffffff; top: 480px; left: 24px;opacity: 0;}
.portfolio ul li:hover p {opacity: 1; transition: all 0.75s; transition-delay: 0.5s;}

/* video */
.video {height: 968px;}
.video>div{height: 768px; background-color: #173980;}
.video>div .video_wrap{width: 1366px; margin: 0 auto;}

/* footer */
footer {height: 200px; background-color: #fabc01; text-align: center; color: #ffffff; line-height: 1.5;}
footer ul.footer_menu {border-bottom: 1px solid #173980;}
footer ul.footer_menu li {display: inline-block; margin: 10px 20px;}
footer p {margin-top: 30px;}

/* animation */
@keyframes goup {
    0% {transform: translate(-50%, 50%);}
    100% {transform: translate(-50%, 0%);}
}