@charset "UFT-8";

h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

h1.shadow {
    text-shadow: 3px 1px 0 #00a398;
    padding-top: 25px;
    padding-bottom: 50px;
}
    /* 헤더 */
header {
    text-align: center;
    padding-top: 10px;
    background: linear-gradient(to bottom, #ffffff, #ffffff 191px, #00a398 191px, #00a398);
}

header ul {
    width: 1200px;
    margin: 10px auto 0;
    overflow: hidden;
}

header ul li {
    width: 20%;
    float: left;
}

header ul li a,
a:visited {
    color: #fef667;
    display: block;
    height: 48px;
    line-height: 48px;
}

header ul li:nth-of-type(5) a {
    border: 0;
}

header ul li a:hover {
    color: #d00027;
    font-size: 18px;
    font-weight: bold;
}

/* 인트로 */
.intro {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    font-size: 20px;
}
.intro div img {
    border-radius: 50%;
    padding: 0 50px 0 50px;
    float: left;
}

.intro ul {
    display: inline-block;
    position: absolute;
}
.intro ul li {
    line-height: 1.5;
}

.intro ul li span {
    display: inline-block;
    width: 175px;
    color: #00a398;
    font-weight: bold;
}
.intro ul li:nth-of-type(3) span {
    padding-bottom: 25px;
}

.intro ul p {
    line-height: 1.5;
}