@charset "utf-8";

a, a:visited {
    text-decoration: none;
    color: white;
}

/* 헤더 */
header {
    text-align: center;
    padding-top: 25px;
    background: linear-gradient(to bottom, red, red 200px, blue 200px, blue);
}

header ul {
    width: 1200px;
    margin: 10px auto  0;
    overflow: hidden;
}

header ul li {
    float: left;
    width: 20%;
}

header ul li a,
a:visited {
    color: white;
    display: block;
    height: 48px;
    line-height: 48px;
    border-right: 1px solid #aeaeae;
}

header ul li a:hover {
    color: #e6007e;
    font-size: 18px;
    font-weight: bold;
}


header ul li:nth-of-type(5) a,
a:visited {
    border-right: 0;
}

